body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



/* boostrap tooltips 
*/
.tooltip > .tooltip-inner {background-color: #f00;text-align: left;}



.img-goal {
  margin-bottom: -4px;
  transition: .3s all;
  width: 100%;
}

.img-goal-overlay {
  text-align: center;
  position: absolute;
  color: #fff;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;  
  transition: .3s all;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);

}
/*
.goal-container:hover > .img-goal-overlay:hover{
  opacity: 1;
}
.goal-container:hover > .img-goal:hover{
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
*/
 .img-goal-overlay:hover{
  opacity: 1;
}
 .img-goal:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.area-hero-used {
  opacity: 1;
  
}
.img-goal-overlay.over{
  opacity: 1;
}